.grpicon{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    .grpicon__imagediv{
        width: 80px;
        height: 80px;
        .grpicon__imagediv--img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
    .grpicon__namediv{
        width: 120px;
        .grpicon__namediv--txt{
            color:white;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }
    
}