.homelayout__nav {
  position: absolute;
  top: 35%;
  left: 0;
  left: 1%;
}

.homelayout__logoheader {
  position: absolute;
  top: 3%;
  left: 1%;
}
.homelayout__body{
  position: absolute;
  top: 8%;
  left: 8%;
}
.homelayout__chat{
  background-color: black;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

.homelayout__chat--chats{
  margin: 35px;
  display: flex;
  flex-direction: column;
}
.homelayout__chat::-webkit-scrollbar {
  width: 6px; /* Adjust the scrollbar width as needed */
}

.homelayout__chat::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.homelayout__chat::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.homelayout__chat::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.homelayout__body--chatList {
  margin-top: 10px;
  margin-left: 10px;
  height: 60vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

.homelayout__body--chatList::-webkit-scrollbar {
  width: 6px; /* Adjust the scrollbar width as needed */
}

.homelayout__body--chatList::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.homelayout__body--chatList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.homelayout__body--chatList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.homelayout__msgInp{
  position: absolute;
  top: 90%;
  left: 65%;
  transform: translate(-50%, -50%);
}