.grpChatList{
    .grpChatList__chats {
        height: 60vh;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
      }
      
      .grpChatList__chats::-webkit-scrollbar {
        width: 6px; /* Adjust the scrollbar width as needed */
      }
      
      .grpChatList__chats::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
      }
      
      .grpChatList__chats::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 3px;
      }
      
      .grpChatList__chats::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    .grpChatList__grpCreateBtn{
        width: fit-content;
        float: right;
    }
}